.hero{
    height: 384px;
}

.hero img, .logement__img img, .single-logement img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.logements{
    padding: 16px;
     padding-top: 80px;
}

.logement{
    width: 30%;
}

.logement__img{
    height: 192px;
}